<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
  </head>
  <body>
    <form action="/add">
      <input type="submit" value="Add bookmark">
    </form>
    <form action="/delete">
      <input type="submit" value="Delete bookmark">
    </form>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li><a href=<%= bookmark[1] %> ><%= bookmark[0] %></a></li>
      <% end %>
    </ul>
  </body>
</html>
