<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    Bookmark Manager
    <form action="/bookmarks" method="get">
      <input type="submit" value="View Bookmarks">
    </form>
  </body>
</html>
