<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/update_bookmark" method="post">
      Title: <input type="text" name="title" placeholder="title">
      URL: <input type="text" name="url" placeholder="website">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
